.idea
*.txt
*.iml
*.o
*.DSYM
*.dSYM
_obj
_test
*.[568vq]
*.out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof
.DS_Store
*.iml
.vscode/
debug
output
*.pid
build
nohup.out
*.log
core*
*.cmake
*_bin


